
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


body::after{
    display: block;
    content: '';
    height: 60px;
}


@media(min-width:768px){
    .news-input{
        width: 50%;
    }
}
#learn1{
    background-color: #050505;
}